# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z3Jvd2luZy1tdXN0YW5nLTIzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_YDHSmyhOoZzY2L5gQ4EMEor5PYI6SkWJsizXpkrgn1

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nkqgpzjchbpqlqmwzkdp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rcWdwempjaGJwcWxxbXd6a2RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0OTQzNTksImV4cCI6MjA4OTA3MDM1OX0.4wPpH1-HwGWn1PG23JT3g9WeTFcz_LM5Ryg152mAoZQ

# Gemini
GEMINI_API_KEY=AIzaSyDFiui-UzHui3Q5CLmichZTM2M0lfCVANU

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
